# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
out/

# IDEs
.vscode/
.idea/

# Git
.git/index.lock
